@import '../../styles/variables';
@import '../../styles/mixins';

.burgerIconWrapper {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: $buttonBorder-color;
  border-radius: 6px;
  width: 63px;
  height: 47px;
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($buttonBorder-color, 10%);
  }

  .burgerIconWrapperLine {
    width: 41px;
    height: 5px;
    background-color: #d9d9d9;
  }
}

@media (min-width: 992px) {
  .burgerIconWrapper {
    display: none;
  }
}
