@import '../../styles/mixins';
@import '../../styles/variables';

.btn {
  color: $white;
  text-transform: uppercase;
  font-size: $font-size-13;
  letter-spacing: 1.95px;
}

.primaryHero {
  padding: auto auto;
  width: 152px;
  height: 32px;
  border-radius: calc(32px / 2);
  background-color: $buttonBorder-color;
  @media (min-width: 992px) {
    font-size: $font-size-20;
    line-height: 26px;
    letter-spacing: 3px;
  }
  @include respond(md) {
    width: 227px;
    height: 43px;
    border-radius: calc(43px / 2);
  }
  @include respond(lg) {
    width: 206px;
    height: 55px;
    border-radius: calc(55px / 2);
  }
  @include respond(xl) {
    width: 206px;
    height: 55px;
    border-radius: calc(55px / 2);
  }
  @include respond(xxl) {
    width: 291px;
    height: 78px;
    border-radius: calc(78px / 2);
  }
}
