@import '../../styles/variables';
@import '../../styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: $font-size-15;
  line-height: 19px;

  @media (min-width: 992px) {
    align-items: flex-start;
    font-size: $font-size-20;
    line-height: 26px;
  }

  @include respond(xxl) {
    gap: 14px;
    font-size: $font-size-36;
    line-height: 47px;
  }
}

.formInputEmailName {
  width: 100%;
  height: 81px;
  border: solid 5px $buttonBorder-color;
  border-radius: 10px;
  text-align: start;
  padding: 10px 10px;
  transition: border-color 400ms ease;

  &:focus {
    border-color: darkenColor($buttonBorder-color);
  }

  @include respond(md) {
    height: 63px;
  }
  @include respond(lg) {
    height: 81px;
  }
  @include respond(xl) {
    height: 81px;
  }
  @include respond(xxl) {
    height: 121px;
  }
}

.formInputMessage {
  width: 100%;
  height: 130px;
  border: solid 5px $buttonBorder-color;
  border-radius: 10px;
  padding: 10px 10px;
  transition: border-color 400ms ease;

  &:focus {
    border-color: darkenColor($buttonBorder-color);
  }

  @include respond(md) {
    height: 101px;
  }
  @include respond(lg) {
    height: 130px;
  }
  @include respond(xl) {
    height: 130px;
  }
  @include respond(xxl) {
    height: 194px;
  }
}
