@import '../../styles/variables';
@import '../../styles/mixins';
.heroBlock {
  background-color: $bg-offwhite;
}
.heroContainer {
  display: flex;
  padding: 15px 9px 49px 15px;
  position: relative;
  background-color: $bg-offwhite;
  min-height: 409px;
  @include respond(md) {
    padding: 47px 50px 101px;
    gap: 27px;
  }
  @include respond(lg) {
    padding: 60px 78px 131px;
    gap: 145px;
  }
  @include respond(xl) {
    padding: 15px 144px 144px;
    gap: 99px;
  }
  @include respond(xxl) {
    padding: 42px 63px 204px 164px;
    gap: 68px;
  }
}

.contentWrap {
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 17px;

  @include respond(md) {
    padding-top: 24px;
    gap: 8px;
  }
  @include respond(lg) {
    padding-top: 50px;
    gap: 54px;
  }
  @include respond(xl) {
    padding-top: 33px;
    gap: 45px;
  }
  @include respond(xxl) {
    padding-top: 31px;
    gap: 56px;
  }
}

.heroImage {
  display: block;
  width: 175px;
  height: 282px;
  position: absolute;
  right: 0;
  top: 78px;

  @media (min-width: 992px) {
    position: static;
  }
  @include respond(md) {
    width: 320px;
    height: 330px;
  }
  @include respond(lg) {
    width: 410px;
    height: 422px;
  }
  @include respond(xl) {
    width: 410px;
    height: 422px;
  }
  @include respond(xxl) {
    width: 578px;
    height: 596px;
  }
}

.heroHeader {
  font-size: $font-size-32;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  min-height: 42px;
  line-height: 42px;
  display: inline-block;
  @media ((min-width: 992px) and (max-width: 1919.5px)) {
    font-size: $font-size-48;
    min-height: 62px;
    line-height: 62px;
    letter-spacing: 7.2px;
  }

  @include respond(xxl) {
    font-size: $font-size-90;
    height: 117px;
    line-height: 117px;
    letter-spacing: 13.5px;
  }
}

.textWrap {
  margin-left: 17px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (min-width: 992px) {
    margin-left: 0;
  }

  @include respond(lg) {
    gap: 54px;
  }
  @include respond(xl) {
    gap: 60px;
  }
  @include respond(xxl) {
    gap: 40px;
  }
}

.text {
  font-size: $font-size-14;
  line-height: 18px;
  width: 166px;
  @media ((min-width: 992px) and (max-width: 1919.5px)) {
    font-size: $font-size-20;
    line-height: 26px;
  }
  @include respond(md) {
    width: 418px;
  }
  @include respond(lg) {
    width: 535px;
  }
  @include respond(xl) {
    width: 535px;
  }
  @include respond(xxl) {
    font-size: $font-size-36;
    line-height: 47px;
    width: 918px;
  }
}
