@import '../../styles/variables';
@import '../../styles/mixins';

.collectionBlock {
  background-color: $bg-light;
  position: relative;
  z-index: 0;
}

.collectionRectangular {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 203px;
  background-color: $bg-gray;
  z-index: 1;

  @include respond(md) {
    height: 316px;
  }
  @include respond(lg) {
    height: 405px;
  }
  @include respond(xl) {
    height: 442px;
  }
  @include respond(xxl) {
    height: 606px;
  }
}

.collectionContainer {
  padding-top: 38px;
  padding-bottom: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include respond(md) {
    padding-top: 37px;
    padding-bottom: 61px;
  }
  @include respond(lg) {
    padding-top: 80px;
    padding-bottom: 91px;
  }
  @include respond(xl) {
    padding-top: 82px;
    padding-bottom: 151px;
  }
  @include respond(xxl) {
    padding-top: 123px;
    padding-bottom: 133px;
  }
}

.collectionHeader {
  font-size: $font-size-20;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 34px;

  @media ((min-width: 992px) and (max-width:1919.5px)) {
    font-size: $font-size-32;
    letter-spacing: 4.8px;
  }

  @include respond(md) {
    line-height: 42px;
    width: 312px;
    text-align: center;
    margin-bottom: 53px;
  }
  @include respond(lg) {
    line-height: 42px;
    margin-bottom: 104px;
  }
  @include respond(xl) {
    line-height: 46px;
    margin-bottom: 104px;
  }
  @include respond(xxl) {
    font-size: $font-size-48;
    line-height: 63px;
    margin-bottom: 150px;
    letter-spacing: 7.2px;
  }
}

.collectionList {
  display: flex;
  width: 100%;
  gap: 34px;
  justify-content: center;
  overflow: hidden;
  flex-wrap: nowrap;
  margin-bottom: 17px;

  @media (max-width: 991.5px) {
    .collectionListItem {
      &:nth-child(1) {
        margin-top: 5px;
        width: 151px;
        height: 153px;
      }
      &:nth-child(3) {
        margin-top: 5px;
        width: 151px;
        height: 153px;
      }
    }
  }

  @include respond(md) {
    gap: 61px;
    margin-bottom: 38px;
  }
  @include respond(lg) {
    gap: 79px;
    margin-bottom: 61px;
  }
  @include respond(xl) {
    gap: 79px;
    margin-bottom: 62px;
  }
  @include respond(xxl) {
    gap: 118px;
    margin-bottom: 95px;
  }
}

.collectionListItem {
  width: 177px;
  height: 179px;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;

  @include respond(md) {
    width: 262px;
    height: 264px;
  }
  @include respond(lg) {
    width: 335px;
    height: 338px;
  }
  @include respond(xl) {
    width: 338px;
    height: 345px;
  }
  @include respond(xxl) {
    width: 502px;
    height: 506px;
  }
}

.collectionImage {
  width: 100%;
  height: 100%;
}

.collectionBottomImage {
  width: 100%;
  height: 85px;

  @include respond(md) {
    height: 185px;
  }
  @include respond(lg) {
    height: 237px;
  }
  @include respond(xl) {
    height: 263px;
  }
  @include respond(xxl) {
    height: 356px;
  }
}

.collectionText {
  font-size: $font-size-15;
  line-height: 19px;
  max-width: 298px;
  text-align: center;
  letter-spacing: 2.25px;
  z-index: 2;

  @media ((min-width: 992px) and (max-width:1919.5px)) {
    font-size: $font-size-32;
    letter-spacing: 4.8px;
    line-height: 42px;
  }

  @include respond(md) {
    max-width: 750px;
  }
  @include respond(lg) {
    max-width: 958px;
  }
  @include respond(xl) {
    max-width: 970px;
  }
  @include respond(xxl) {
    max-width: 1350px;
    font-size: $font-size-40;
    letter-spacing: 6px;
    line-height: 52px;
  }
}
